.card {
	background-color: var(--clr_gray);
	& img {
		width: 30%;
		margin: auto;
	}
	height:15vw;
	width:20vw;
	border-radius:30px;
	margin:auto;
	display:grid;
	box-shadow: 0px 0px 20px 1px var(--clr_dark);
}