.reports_card {
	color: var(--clr_white);
	font-size: 25px;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;

	& .statistic {
		display: flex;
		gap: 50px;

	}

	& h2 {
		background-color: var(--clr_gray);
		padding: 10px;
		margin-bottom: -10px;
		font-family: 'Anton', sans-serif;
		letter-spacing: 5px;
	}
}