@import"./components/darkModeButton.css";
@import"./components/card.css";
@import"./components/roadmap.css";
@import"./components/kanbanBoard.css";
@import"./components/bugs.css";
@import"./components/chart.css";


body>main{
	background-color: var(--clr_black2);
	/* NOTE if there is a seconde side bar */
	/* width: 90%; */
	/* NOTE if there is not a seconde side bar */
	width: 100%;
	height: 100vh;
	overflow: hidden;

}

.workspace{
	height: 90.5%;
	display: grid;
	/* margin:0 2%; */
}
