@import"./components/darkModeButton.css";
@import"./components/card.css";
@import"./components/roadmap.css";
@import"./components/kanbanBoard.css";


body>main{
	background-color: var(--clr_black2);
	width: 90%;

}

.workspace{
	height: 90.5%;
	display: grid;
	/* grid-template-columns:repeat(3,1fr); */
}
