aside {
	background-color: var(--clr_black);
	color: var(--clr_white);
	/* NOTE if there is a side bar */
	width: 28%;
	/*NOTE if there is note a side bar */
	/* width: 7%; */
	height: 100vh;
}

.logo {
	background-color: var(--clr_white);
	position: relative;
	width: 80px;
	margin-bottom: -55px;
}

aside main {
	display: flex;
}

.leftbar {
	display: grid;
	justify-items: center;
	background-color: var(--clr_dark);
	/* NOTE if there is a side bar  */
	/* width: 30%; */
	height: 100vh;

	& img:not(.logo) {
		width: 100%;
	}
	& span{
		width: 40%;
		height: 30%;
	}
}


.rightbar {
	fonts-family: var(--ff_Anton);
	padding: 5px;

	& img {
		width: 20%;
		height: 20%;
	}
}

.Roadmap,
.KanbanBoard,
.Bugs {
	display: flex;
	gap: 20px;
	align-items: center;
	margin-top: 40px;
	padding-left: 20px;

}



