aside {
	transition: all 0.2s ease-in;
	background-color: var(--clr_black);
	color: var(--clr_white);
	width: 5.2%;
	height: 100vh;
	min-width: 100px;

}


.logo {
	background-color: var(--clr_white);
	position: relative;
	width: 80px;
	margin-bottom: -55px;
}

aside main {
	display: flex;
}

.leftbar {
	display: grid;
	justify-items: center;
	background-color: var(--clr_dark);
	height: 100vh;
	min-width: 100px;

	& img:not(.logo) {
		width: 100%;
	}

	& span {
		width: 40%;
		height: 30%;
	}
}


.rightbar {
	fonts-family: var(--ff_Anton);
	padding: 5px;
	text-align: center;
	min-width: min-content;

	& img {
		width: 20%;
		height: 20%;
	}
}

.Roadmap,
.KanbanBoard,
.Bugs {
	display: flex;
	gap: 20px;
	align-items: center;
	margin-top: 40px;
	padding: 20px;

}